* {
  margin: 0;
  padding: 0;
}
/* h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
} */

:root {
  --slate: #434455;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  font-size: 16px;
  background-color: var(--white);
}

/* Index Logo */
.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  padding: 24px 0;
}
.header-logo-text {
  color: var(--navyblue);
}

/* Index - Navigation */
.list-item > .menu {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}

li > .link:hover,
li > .link:focus {
  color: var(--ocean);
}

/* HW #5 */
.active.link {
  color: var(--ocean);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item > .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 100%;
}

.address-list-item > .address {
  color: var(--slate);
  line-height: 150%;
  letter-spacing: 0.32px;
}

.address {
  font-style: normal;
}

.list,
.features-list-item,
.task-list-item,
.team-list-item,
.btn-list-item,
.project-list-item {
  list-style: none;
}

/* First Section - Index - Hero */
.title {
  background-color: var(--navyblue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/hero-background.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-hero {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  max-width: 496px;
}

.title-button {
  background-color: var(--iris);

  color: var(--white);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  display: block;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;

  /* HW #5 */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: var(--ocean);
}

/* Index - Second Section - Features */
.features-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.features-text {
  color: var(--slate);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.features {
  padding: 120px 0;
}

.container .list {
  display: flex;
  gap: 24px;
}

.features-list-item,
.team-list-item {
  width: calc((100% - 72px) / 4);
}

.task-list-item {
  width: calc((100% - 48px) / 3);
}

.features-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* Index - Third Section - What Are We Doing */
.task-header {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.task {
  padding-bottom: 120px;
}

/* Index - Fourth Section - Our Team */
.team-header {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-subheader {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-list-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-employee {
  padding: 32px 0;
}

.socmed-icon {
  justify-content: center;
}

.socmed-items {
  width: 40px;
  height: 40px;
}

.socmed-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* HW #5 */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-link:hover,
.socmed-link:focus {
  background-color: var(--ocean);
}

.socmed-icon {
  fill: var(--cloud);
}

/* Fifth Section */
.customer {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customer-header {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.customer-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);

  /* HW #5 */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customer-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customer-icon {
  fill: currentColor;
}

/* Index - Footer */
.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-logo {
  color: var(--cloud);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer-text {
  color: var(--cloud);
  line-height: 150%;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.wrapper {
  margin-right: 120px;
}

.footer-socmed-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-socmed-list {
  display: flex;
  gap: 16px;
}

.footer-socmed-item {
  width: 40px;
  height: 40px;
}

.footer-socmed-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* HW #5 */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socmed-link:hover,
.footer-socmed-link:focus {
  background-color: var(--green);
}

.footer-socmed-svg {
  fill: var(--cloud);
}

/* HW #6 */
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.subscribe-form-input::placeholder {
  color: var(--white);
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}

/* Portfolio - Main Buttons  */
.btn-text {
  color: var(--iris);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  font-family: inherit;
  font-size: inherit;

  /* HW #5 */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text:hover,
.btn-text:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-text {
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.btn {
  padding: 96px 0 120px 0;
}

.btn .list {
  justify-content: center;
  margin-bottom: 72px;
}

/* Projects */
.project-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.project-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.container-application {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.project.list {
  flex-wrap: wrap;
  row-gap: 48px;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.project.link {
  display: block;

  /* HW #5 */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project.link:hover,
.project.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* HW #5 */
.project-img {
  position: relative;
  overflow: hidden;
}

.project-img-desc {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project.link:hover .project-img-desc,
.project.link:focus .project-img-desc {
  transform: translateY(0%);
}

/* Modal */
.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* HW #6 */
  padding: 72px 24px 24px 24px;
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--white);
}

/* HW #6 */
.modal-text {
  font-weight: 500;
  font-size: inherit;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  position: relative;
}

.modal-user-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-input:focus {
  border-color: var(--iris);
}

.modal-user-input:focus + .modal-icon {
  fill: var(--iris);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: var(--iris);
}

.form-checkbox {
  margin-bottom: 24px;
}

.form-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.form-checkbox-label-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba (46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-checkbox-agreement + .form-checkbox-label .form-checkbox-label-text {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.privacy-policy-link {
  color: var(--iris);
}

.modal-send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Homepage */
.image {
  display: block;
}

header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 1px rgba (46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba (46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .logo {
  margin-right: 76px;
}

.nav .list {
  display: flex;
  gap: 40px;
}

.nav .list-item {
  padding: 24px 0;
}

.address > .list {
  display: flex;
  gap: 40px;
}

.address {
  align-items: center;
  display: flex;
}
